<!--
 @name demo2
 @author wangjun
 @time 2019/11/2721:40
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <link rel="stylesheet" th:href="@{lib/layui/css/layui.css}" media="all">

    <script th:src="@{lib/layui/layui.js}"></script>
    <script>
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                count: [[${pageInfo.total}]] ,//数据总数，从服务端得到
                limit:[[${pageInfo.pageSize}]],    //每页显示的条数
                limits:[3,6,9,12,15],   //每页显示条数的选择项（下拉列表）
                curr:[[${pageInfo.pageNum}]] ,  //当前页
                groups:5,  //连续出现的页码
                layout:['count','prev','page','next','refresh','limit','skip'],
                jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数
                    //console.log("${param.bodyId}");
                   // console.log(${params});
                    //首次不执行
                    if(!first){

                      // window.location.href='[[${url}]]?currentPage=[[${pageInfo.pageNum}]]&pageSize=[[${pageInfo.pageSize}]]';
                      location.href="[[${url}]]?currentPage="+obj.curr+"&pageSize="+obj.limit;

                    }
                }
            });
        });
    </script>
</head>
<body>
<div id="page"></div>
</body>
</html>